<div class="accordion" (mouseleave)="show(undefined)">
  <div class="element" *ngFor="let element of accordion" (mouseenter)="show(element.id)">
    <div (click)="show(element.id)" class="title">
      <p>{{element.title}}</p>
    </div>
    <div *ngIf="isCurrent(element.id)" [@accordion] class="content">
      <p>{{element.description}}</p>
    </div>
  </div>
</div>

