.accordion {
  display: flex;
  flex-direction: column;

  .element {

    .title {
      position: relative;
      height: 50px;
      cursor: pointer;
      padding: 0;
      background-color: cornsilk;
      border: 1px solid rosybrown;
      overflow: hidden;
      width: 100%;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
      }
    }

    .title:before {
      position: absolute;
      content: '+';
      font-size: 40px;
      height: 100%;
      font-weight: bold;
      z-index: 10;
      width: inherit;
      margin: 0;
      padding: 0;
      color: white;
    }

    .title:after {
      content: '';
      height: 0;
      border-top: 26px solid transparent;
      border-bottom: 26px solid transparent;
      border-left: 40px solid red;
    }

    .content {
      background-color: bisque;
      padding: 0;
      overflow: hidden;
      cursor: text;

      p {
        margin: 0;
      }
    }
  }

  .element:hover {
    .title:before {
      content: '-';
    }
  }
}
